.header {
    box-sizing: border-box;
    padding: calc(var(--unit) * 2) 0;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

.header.sticky {
    background: var(--paper-bg);
    box-shadow: var(--shadow);
    height: calc(var(--unit) * 8);
}

.headerContainer {
    position: static;
    display: flex;
    gap: calc(var(--unit) * 2) 0;
}

.logo {
    display: inline-block;
    align-items: center;
    height: calc(var(--unit) * 6);
}

.logo svg,
.logo img {
    height: 100%;
    aspect-ratio: 300 / 131;
}

.logo svg path {
    fill: var(--color-brand);
}

.headerNavigation {
    display: flex;
    gap: calc(var(--unit) * 2);
    align-items: center;
    flex-grow: 1;
    text-align: center;
    justify-content: flex-end;
}

.headerNavigation a {
    font-size: var(--variant-xs);
}