.header {
  height: 6rem;
  transition: all 250ms;
}

.spacer {
  height: 6rem;
  display: block;
}

fieldset label {
  display: inline-block;
}

.admin-banner-preview {
  max-height: 10dvh;
  width: auto;
  max-width: 5rem;
}