@import url('./helpers/inputs.css');

:root {
  --color-brand: 318.52deg 100% 70.16%;
  --color-brand-secondary: hsl(269, 100%, 38%);
  --color-brand-light: #bd9af4;
  --color-brand-highlight: #b5fc00;
  --color-brand-a90: #ff55cb;

  --accent-bg: var(--color-brand);
  --accent-bg-hover: var(--color-brand-highlight);

  --color-danger: hsl(327 95% 55% / 1);
  --color-success: hsl(103, 78%, 59%);
  --color-warning: #fff242;

  --low-contrast: #eaeaea;
  --medium-contrast: #c9c9c9;
  --high-contrast: #333333;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --text-xs: .8rem;
  --text-sm: .875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;

  --font-family: "Montserrat", "Lato";

  --fieldset-bg: #f4f4f4;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 2px);
  --radius-2xl: calc(var(--radius) + 4px);

  --shadow-color: 258.11 100% 91.28%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-danger: rgb(185 28 28);
    --color-success: #40e240;
    --color-warning: #fff254;

    /* --backgrounds: #402255; */
    --high-contrast: var(--color-brand-secondary);
    --medium-contrast: #2e2344;
    --low-contrast: #3a2e52;

    --special-text: var(--color-brand-light);

    --accent-bg: #9adbf4;

    --fieldset-bg: var(--medium-contrast);

    --shadow-color: 0, 0%, 0%, 0.5;
  }
}

::selection {
  background-color: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
}

* {
  border-color: hsl(var(--border));
}

body {
  line-height: 1.6;
  font-family: var(--font-family);
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  overflow-x: auto;
  scrollbar-gutter: stable;
}

button,
img,
figure,
svg {
  user-select: none;
}

pre {
  padding: 1rem;
  background: hsl(var(--card));
  border: 1px solid var(--border);
  margin: 2.5rem 0;
  line-height: 1.5;
}

hr {
  border: none;
  border-top: 1px solid hsl(var(--border));
  width: 100%;
  display: block;
}

nav ul,
nav ol {
  gap: 1rem;
}

dialog {
  width: 65vw;
  min-height: 50vh;
  inset: 0;
  padding: 32px;
  border: 1px solid var(--border);
  box-shadow: hsla(var(--shadow-color));
  background: hsl(var(--card));
  color: hsl(var(--foreground));
}


/**
* Global classes
*/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  white-space: nowrap;
}

.hidden {
  display: none;
}

/**
* Global Layout Public and Private
*/

.layout {
  min-height: 100dvh;
  display: grid;
  grid:
    "header" auto "main" 1fr "footer" auto / 1fr;
}

.logo {
  aspect-ratio: 2 / 1;
  height: 2.5rem;
  color: hsl(var(--color-brand));
  fill: hsl(var(--color-brand));
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  width: 100%;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.box {
  border-radius: var(--radius);
  padding: 0.5rem;
}

.paper {
  /* background: hsl(var(--card)); */
  background: hsl(var(--card));
}

.thumbnail-1 {
  max-width: 10dvh;
  max-height: 10dvw;
}

/* Colors */

.bg-danger {
  background-color: hsl(var(--destructive));
}

.bg-success {
  background-color: var(--color-success);
}

.bg-warning {
  background-color: var(--color-warning);
}

.color-danger {
  color: hsl(var(--destructive));
}

.color-success {
  color: var(--color-success);
}

.color-warning {
  color: var(--color-warning);
}

.fill-brand {
  fill: hsl(var(--color-brand))
}