@import url('./helpers/reset.css');
@import url('./helpers/misc.css');
@import url('./helpers/inputs.css');
@import url('./helpers/buttons.css');

:root {
    --unit: 8px;
    --unit-2: calc(var(--unit) * 2);
    --unit-3: calc(var(--unit) * 3);
    --unit-4: calc(var(--unit) * 4);
    --unit-5: calc(var(--unit) * 5);

    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-xxl: 1536px;

    --variant-h1: 2.3rem;
    --variant-h2: 1.85rem;
    --variant-h3: 1.6rem;
    --variant-h4: 1.35rem;
    --variant-h5: 1.1rem;
    --variant-h6: 1rem;
    --variant-p: 0.8rem;

    --brand-color1: #f91e96;
    --brand-color2: #5e00c1;
    --brand-color3: #bd9af4;
    --brand-color4: #d3fc00;
    --brand-color5: #ff55cb;

    --body-bg: #ffffffe8;
    --body-text: #332936;
    --paper-bg: #fff;
    --accent-bg: rgb(246, 10, 156);
    --accent-bg-hover: #d3fc00;
    --accent-fg: #fff;

    --input-text: #332936;
    --input-text-disabled: #626262;
    --input-text-placeholder: #a0a0a0;
    --input-bg: #fff;
    --input-bg-hover: #f3f3f3;
    --input-bg-disabled: #f3f3f3;
    --input-border: #dcdcdccc;
    --input-border-focus: #f91e96;
    --input-border-disabled: #a0a0a0;
    --input-shadow: 0 1px 4px var(--shadow-color);

    --color-gray-100: #f3f3f3;
    --color-gray-200: #eaeaea;
    --color-gray-300: #a0a0a0;
    --color-gray-400: #666666;
    --color-gray-500: #444444;
    --color-gray-600: #333333;
    --color-gray-700: #222222;

    --button-bg: #dfdfdf;
    --button-bg-hover: #a8a8a8;
    --button-bg-primary: #ff00b1;
    --button-bg-primary-hover: #e600a1;
    --button-color: #666666;
    --button-color-hover: #d3d3d3;
    --button-color-primary: #fff;
    --button-color-primary-hover: #fff;
    --button-color-primary-disabled: #553559;
    --button-color-secondary: #fff;
    --button-bg-secondary: #2b49f9;
    --button-bg-secondary-hover: #2540d8;

    --border-color: #eaeaea;
    --border-radius: 8px;
    --border-radius-sm: 4px;
    --border-radius-lg: 12px;
    --border-radius-xl: 16px;
    --border-radius-xxl: 20px;

    --shadow-color: #00000014;
    --shadow: 0px 3px 1px -2px var(--shadow-color);
    --shadow-md: 0 1px 8px var(--shadow-color);
    --shadow-lg: 0 1px 12px var(--shadow-color);
    --shadow-xl: 0 1px 16px var(--shadow-color);
    --shadow-xxl: 0 1px 24px var(--shadow-color);
    --shadow-inset: inset 0 0 10px var(--shadow-color);
    --shadow-inset-lg: inset 0px 2px 7px var(--shadow-color);
    --shadow-inset-xl: inset 0 2px 20px var(--shadow-color);
    --shadow-primary: 0 0 10px var(--brand-color1);
    --shadow-primary-lg: 0 0 20px var(--brand-color1);
    --shadow-primary-xl: 0 0 30px var(--brand-color1);
    --shadow-primary-xxl: 0 0 40px var(--brand-color1);
    --shadow-primary-inset: inset 0 0 10px var(--brand-color1);
    --shadow-primary-inset-lg: inset 0 0 20px var(--brand-color1);
    --shadow-primary-inset-xl: inset 0 0 30px var(--brand-color1);

    --font-family: "Montserrat";
    --link-color: var(--brand-color3);
    --link-color-hover: var(--brand-color5);
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-bg: #431d48eb;
        --body-text: #cfd3db;
        --paper-bg: #391a3ded;

        --button-bg: #6c2777ed;
        --button-bg-hover: var(--brand-color4);
        --button-color: var(--body-text);
        --button-color-hover: var(--body-bg);
        --button-color-primary-hover: var(--brand-color5);
        --button-color-primary-disabled: var(--body-bg);

        --input-text: #cfd3db;
        --input-text-disabled: #735976;
        --input-text-placeholder: #806583;
        --input-bg: #391a3ded;
        --input-bg-hover: #6c2777ed;
        --input-bg-disabled: #532a58ed;
        --input-border: #cfd3db;
        --input-border-focus: #f91e96;
        --input-border-disabled: #735976;
        --input-shadow: 0 1px 4px var(--shadow-color);

        --border-color: #83338d;

        --shadow-color: rgba(0, 0, 0, 0.5);

        --link-color: var(--brand-color3);
        --link-color-hover: var(--accent-bg-hover);
    }
}

@media screen and (min-width: 768px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        --variant-h1: 2.8rem;
        --variant-h2: 2.3rem;
        --variant-h3: 1.85rem;
        --variant-h4: 1.6rem;
        --variant-h5: 1.35rem;
        --variant-h6: 1.1rem;
    }
}

body {
    background-image: url('/hero/hero.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: var(--body-text);
    background-color: var(--body-bg);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

a:visited {
    color: var(--link-color);
}

a:hover {
    color: var(--link-color-hover);
}

pre {
    padding: calc(var(--unit) * 2);
    background: var(--paper-bg);
    border: 1px solid var(--border-color);
}

hr {
    border: none;
    border-top: 1px solid var(--border-color);
    margin: calc(var(--unit) * 2) 0;
}

/**
* Layout
*/

.layout {
    background-color: var(--body-bg);
    min-height: 100dvh;
    display: grid;
    grid:
        "header" auto "main" 1fr "footer" auto / 1fr;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

.header {
    box-sizing: border-box;
    padding: var(--unit) 0;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    height: calc(var(--unit) * 10);
}

.header.sticky {
    background: var(--paper-bg);
    box-shadow: var(--shadow);
    height: calc(var(--unit) * 8);
}

.header-container {
    position: static;
    display: flex;
    gap: calc(var(--unit) * 2) 0;
}

.logo {
    display: inline-block;
    align-items: center;
    height: calc(var(--unit) * 6);
}

.logo svg,
.logo img {
    height: 100%;
    aspect-ratio: 300 / 131;
}

.logo svg path {
    fill: var(--accent-bg);
}

.header-navigation {
    display: flex;
    gap: calc(var(--unit) * 2);
    align-items: center;
    flex-grow: 1;
    text-align: center;
    justify-content: flex-end;
}

.header-navigation a {
    text-decoration: none;
}

.footer {
    margin-top: 10vh;
    padding: calc(var(--unit) * 2) 0;
}