body {
    background: url('/hero/hero.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    user-select: none;
    z-index: -1;
}

.header {
    position: fixed;
    color: white;
    display: none;
}

.hero {
    height: 90vh;
    position: relative;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hero-logo {
    fill: var(--accent-bg);
    width: 50vw;
    max-width: 500px;
    height: auto;
}

.hero-navigation {
    margin-top: calc(var(--unit) * 2);
}

.hero-navigation a:hover {
    color: var(--brand-color4);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
}