body {
    /* background: url('/hero/hero.jpg'); */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.header {
    position: fixed;
    color: white;
    display: none;
}

.hero {
    height: 90vh;
    position: relative;
}

.hero-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hero-logo {
    fill: var(--color-brand);
    width: 50vw;
    max-width: 500px;
    height: auto;
}

.hero-navigation {
    margin-top: calc(var(--unit) * 2);
}