.posts {
  margin-top: 20px;
  margin-bottom: 20px;
}

.markdown-content {
  max-width: 960px;
  margin-inline: auto;
}

.markdown-content>* {
  margin-bottom: 2rem;
}

.markdown-content>*:not(img):not(figure) {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}

.markdown-content figure {
  margin: 0;
}

.markdown-content p {
  font-size: 1.375rem;
}

.markdown-content img {
  width: 100%;
  display: block;
  object-fit: contain;
  aspect-ratio: 16 / 9;
}

.markdown-content figcaption {
  background-color: var(--paper-bg);
  padding: var(--unit);
}