main {
  padding-top: calc(var(--unit) * 4);
}

.posts {
    margin-top: 20px;
    margin-bottom: 20px;
}

.posts-list {
    box-sizing: border-box;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--unit);
}

@media screen and (min-width: 768px) {
    .posts-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
  .posts-list {
      grid-template-columns: 1fr 1fr 1fr;
  }
}

.posts-list .item a {
  color: white;
}

.posts-list .item {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px;
}

.posts-list .item .image-container {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.posts-list .item:hover .image-container {
  transform: scale(1);
  animation: popImageIn 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.posts-list .item .inner {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .posts-list .item .inner {
        opacity: 0;
    }

    .posts-list .item:hover .inner {
      opacity: 1;
      animation: popIn 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
}

.posts-list .item:hover .inner {
    opacity: 1;
}

.post-list .item .inner .title {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 0.2em;
}

@keyframes popIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
  
    80% {
      transform: scale(1.1);
      opacity: 1;
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes popImageIn {
    0% {
      transform: scale(1);
    }
  
    80% {
      transform: scale(1.4);
    }
  
    100% {
      transform: scale(1);
    }
  }