main {
    padding-top: calc(var(--unit) * 4);
}

.post-content {
    font-size: 18px;
    line-height: 1.65rem;
}

.post-content > *:not(img) {
    width: 90%;
}

.post-content p > img {
    --additional-width: 4vw;
    width: calc(100% + var(--additional-width));
}

@media screen and (min-width: 768px) {
    .post-content > *:not(img) {
        width: 60%;
    }

    .post-content p > img {
        --additional-width: 16vw;
    }
}

@media screen and (min-width: 1280px) {
    .post-content > *:not(img) {
        width: 50%;
    }

    .post-content p > img {
        --additional-width: 13vw;
    }
}