.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: calc(var(--unit) * 5);
}

.left {
    max-width: 45%;
}

.right {
    width: 600px;
}

.navigation-back {
    margin-bottom: calc(var(--unit) * 2);
}

.image-preview {
    width: 100%;
    margin-bottom: calc(var(--unit) * 2);
}

.image-preview img {
    display: block;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.product-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: calc(var(--unit) * 2);
}

.product-images img {
    width: 100%;
    cursor: pointer;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.title h1 {
    margin-top: 0;
}

.price,
.payment-options,
.quantity {
    margin-top: calc(var(--unit) * 2);
}

.quantity input,
.quantity input:focus,
.quantity input:active,
.quantity input:hover {
    padding: 0;
    border: 0;
    outline: none;
    box-shadow: none;
}

.product-quantity-label {
    margin-right: var(--unit);
}

.buy,
.description {
    margin-top: calc(var(--unit) * 4);
}

.buy-button {
    width: 280px;
    font-size: 1.2rem;
}

.product-footer {
    margin-top: calc(var(--unit) * 4);
}

.product-footer-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product-footer-items .product-footer-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 120px;

}

.product-footer-payment-options .product-footer-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-footer-payment-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: calc(var(--unit) * 2);
    max-width: 40%;
}

.product-footer-payment-options img {
    width: 50px;
    height: 26px;
    margin: 0px 5px 5px 0px;
}

.product-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    height: 40px;
    border: 1px solid var(--color-gray);
    border-radius: var(--border-radius);
    padding: 0px 10px;
}

.quantity input {
    border: none;
    background: none;
}