@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 271.44 7.9% 15.7%;
    --card: 257.59 100% 96.77%;
    --card-foreground: 271.44 7.9% 15.7%;
    --popover: 0 0% 100%;
    --popover-foreground: 271.44 7.9% 15.7%;
    --button: 255.75 100% 93.86%;
    --button-foreground: 269.53deg 100% 51.04%;
    --primary: 318.52 100% 70.16%;
    --primary-foreground: 210 20% 98%;
    --secondary: 78.82 100% 60%;
    --secondary-foreground: 268.1deg 100% 50%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 318.52 100% 70.16%;
    --accent-foreground: 0 0% 100%;
    --destructive: 342 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 286.67 13.25% 88.99%;
    --input: 0 0% 99%;
    --ring: 274.73 78.73% 55.11%;
    --radius: 0.5rem;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 260 50.31% 9.43%;
      --foreground: 210 20% 98%;
      --card: 277.5 81.6% 4.55%;
      --card-foreground: 210 20% 98%;
      --popover: 262.27 71.4% 4.1%;
      --popover-foreground: 210 20% 98%;
      --button: 260 51.1% 31.19%;
      --button-foreground: 210 20% 98%;
      --primary: 318 80% 79%;
      --primary-foreground: 270.57 42.98% 15.97%;
      --secondary: 240.92 28.18% 19.35%;
      --secondary-foreground: 210 20% 98%;
      --muted: 240.92 28.18% 19.35%;
      --muted-foreground: 217.9 10.6% 64.9%;
      --accent: 78.82 100% 60%;
      --accent-foreground: 260 41.45% 9.18%;
      --destructive: 337 86% 37%;
      --destructive-foreground: 210 20% 98%;
      --border: 240.92 28.18% 19.35%;
      --border: 260 28.13% 25.1%;
      --input: 242 25% 19%;
      --ring: 263.4 70% 50.4%;
    }
  }
}