@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 271.44 7.9% 15.7%;
    --card: 0 0% 100%;
    --card-foreground: 271.44 7.9% 15.7%;
    --popover: 0 0% 100%;
    --popover-foreground: 271.44 7.9% 15.7%;
    --button: 0deg 0% 95%;
    --button-foreground: 271.44 7.9% 15.7%;
    --primary: 318.52 100% 70.16%;
    --primary-foreground: 210 20% 98%;
    --secondary: 78.82 100% 60%;
    --secondary-foreground: 271.44 7.9% 15.7%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91% / 11%;
    --border-input: 220 11.22% 83.59%;
    --ring: 327.1 83.3% 57.8%;
    --radius: 0.5rem;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 260 50.31% 9.43%;
      --foreground: 210 20% 98%;
      --card: 277.5 81.6% 4.55%;
      --card-foreground: 210 20% 98%;
      --popover: 262.27 71.4% 4.1%;
      --popover-foreground: 210 20% 98%;
      --button: 260 28.13% 25.1%;
      --button-foreground: 210 20% 98%;
      --primary: 318 80% 79%;
      --primary-foreground: 270.57 27.58% 7.1%;
      --secondary: 240.92 28.18% 19.35%;
      --secondary-foreground: 210 20% 98%;
      --muted: 240.92 28.18% 19.35%;
      --muted-foreground: 217.9 10.6% 64.9%;
      --accent: 260 41.45% 9.18%;
      --accent-foreground: 210 20% 98%;
      --destructive: 337 86% 37%;
      --destructive-foreground: 210 20% 98%;
      --border: 240.92deg 28.18% 19.35%;
      --border: 260 28.13% 25.1%;
      --border-input: 264.52 27.9% 16.9%;
      --input: 242 25% 19% / 18%;
      --ring: 263.4 70% 50.4%;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.border-input {
  border-color: hsl(var(--border-input));
}

.text-button {
  color: hsl(var(--button-foreground));
}