.square {
  /* background: hsl(var(--button)); */
  width: 15%;
  aspect-ratio: 1 /1;
  font-size: 0.8em;
  background-color: rgb(255 255 255 / 0.5);
}

.shadow-sm {
  box-shadow: var(--shadow-sm);
}

.shadow-md {
  box-shadow: var(--shadow-md);
}

.shadow-lg {
  box-shadow: var(--shadow-lg);
}

.shadow-xl {
  box-shadow: var(--shadow-xl);
}

.shadow-inner {
  box-shadow: var(--shadow-inner);
}

.ring-0 {
  box-shadow: var(--ring-0)
}

.ring-1 {
  box-shadow: var(--ring-1)
}

.ring-2 {
  box-shadow: var(--ring-2);
}

.ring-3 {
  box-shadow: var(--ring-3)
}

.ring-4 {
  box-shadow: var(--ring-4)
}

.ring-8 {
  box-shadow: var(--ring-8)
}

.ring-offset-2 {
  --tw-ring-offset-width: 2px;
}

.mix {
  box-shadow: var(--shadow-xl), var(--ring-2);
}

.swatch {
  border: 1px solid hsl(var(--border) / 0.5);
  width: 100%;
  aspect-ratio: 1/1;
  text-align: center;
  box-sizing: border-box;
  padding: 1em;
  position: relative;
  font-size: 0.8em;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
}

.swatch .swatch {
  width: 80%;
  max-width: unset;
  aspect-ratio: 2/1;
  font-size: 0.8em;
  position: absolute;
  translate: 0 80%;
  z-index: 1;
  margin-bottom: 0;
}