.square {
  /* background: hsl(var(--button)); */
  width: 15%;
  aspect-ratio: 1 /1;
  font-size: 0.8em;
  background-color: rgb(255 255 255 / 0.5);
}

.shadow-sm {
  box-shadow: var(--shadow-sm);
}

.shadow-md {
  box-shadow: var(--shadow-md);
}

.shadow-lg {
  box-shadow: var(--shadow-lg);
}

.shadow-xl {
  box-shadow: var(--shadow-xl);
}

.shadow-inner {
  box-shadow: var(--shadow-inner);
}

.ring-0 {
  box-shadow: var(--ring-1-0)
}

.ring-1 {
  box-shadow: var(--ring-1)
}

.ring-2 {
  box-shadow: var(--ring-2);
}

.ring-3 {
  box-shadow: var(--ring-3)
}

.ring-4 {
  box-shadow: var(--ring-4)
}

.ring-8 {
  box-shadow: var(--ring-8)
}

.ring-offset-2 {
  --tw-ring-offset-width: 2px;
}

.mix {
  box-shadow: var(--shadow-xl), var(--ring-2);
}