form label,
input,
textarea,
select {
    display: block;
    width: 100%;
    max-width: 700px;
}

input[type="submit"],
button[type="submit"] {
    margin-top: 20px;
    width: 100%;
    max-width: 700px;
}