.text {
  line-height: 1.52;
}

.text strong {
  font-weight: 700;
}

.textDefault {
  font-size: inherit;
}

.muted {
  color: hsl(var(--muted-foreground))
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.italic {
  font-style: italic;
}

.sm {
  font-size: 1rem;
  line-height: 1.5;
}

.md {
  font-size: 1.5rem;
  font-size: clamp(1.125rem, 1.25vw, 1.5rem);
}

.lg {
  font-size: 1.8rem;
  font-size: clamp(1.7rem, 1.75vw, 1.8rem);
}

.xl {
  font-size: 2.25rem;
  font-size: clamp(2rem, 2.25vw, 2.5rem);
}


/* ----------- */

.title {
  font-family: var(--font-family);
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.titleDefault {
  font-weight: 700;
  letter-spacing: -.04em;
  line-height: 1;
}

.titleSmall {
  font-size: 2.25rem;
  line-height: 1;
}

.titleMedium {
  font-size: 1.5rem;
  font-size: clamp(2.5rem, 2.5vw, 3rem);
}

.titleLarge {
  font-size: 1.8rem;
  font-size: clamp(3.5rem, 3.5vw, 4rem);
}

.titleXLarge {
  font-size: 1.8rem;
  font-size: clamp(4.25rem, 5vw, 6.25rem);
}

/* ----------- */

.titlePrimary {
  text-transform: uppercase;
  font-size: 6rem;
  line-height: 1;
}

.titlePrimaryLarge {
  font-size: 10rem;
  font-weight: 700;
}

.titlePrimaryMedium {
  font-size: 8rem;
}

.titlePrimarySmall {
  font-size: 6rem;
}

.adjustBaseline {
  margin-bottom: -1.5rem;
}

/* .title-large {
  font-size: 5rem;
  margin-bottom: 2rem;
} */

/* .secondary-medium {}

.secondary-small {} */