.dropdownContainer {
  position: relative;
  display: inline-block;
}

.content {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  background-color: hsl(var(--background));
  border-color: hsl(var(--border-color));
  border-radius: .5rem;
  box-shadow: 0 4px 6px -1px hsl(var(--shadow-color));
  min-width: clamp(10rem, 100%, 15rem);
  border: 0;
  z-index: 2;
  padding: 0.5rem;

  opacity: 0;
  visibility: hidden;
}

.content[data-open="true"],
.content[open] {
  animation: appear 250ms forwards;
  transform: translateY(0);
  visibility: visible;
}

.contentOverflow {
  left: unset;
  right: 0;
}

.items {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

/* 
.item {}
.item:hover,
.item:focus {
  background-color: hsl(var(--button-foreground) / .05);
} */

.withHover:hover,
.withHover[data-highlighted="true"] {
  background-color: hsl(var(--button-foreground) / .05);
}

.button {
  cursor: pointer;
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  text-decoration: none;
  outline: none;
}

@keyframes vanish {
  from {
    opacity: 1;
    transform: translateY(0);
    display: block;
    visibility: visible;
  }

  to {
    opacity: 0;
    transform: translateY(-8px);
    display: none;
    visibility: hidden;
  }
}

@keyframes appear {
  from {
    visibility: hidden;
    transform: translateY(-8px);
    display: none;
    opacity: 0;
  }

  to {
    visibility: visible;
    transform: translateY(0);
    display: block;
    opacity: 1;
  }
}