label[for] {
  cursor: pointer;
}

.input {
  display: flex;

  width: 100%;

  font-size: .875rem;
  line-height: 1.8em;

  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-left: .75rem;
  padding-right: .75rem;

  background-color: hsl(var(--input) / 0.5);
  border-color: hsl(var(--border));
  border-width: 1px;
  border-style: solid;
  border-radius: var(--radius-md);
  color: hsl(var(--foreground));
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.input:focus,
.input:focus-visible {
  box-shadow: var(--tw-ring-offset-shadow), var(--ring-1);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}