.base {
  cursor: pointer;
  appearance: none;

  width: 1cap;
  height: 1cap;
  padding: 0.5rem;

  border-radius: .15em;
  border-width: 1px;
  box-shadow: 0 0 0 1px hsl(var(--border));
  border-style: solid;

  transition: all 0.05s ease-in-out;
  will-change: border-color;
}

.radio {
  border-radius: 50%;
}

.base:checked {
  border-color: hsl(var(--accent));
}

.base:checked::after {
  content: "";
  display: block;
  width: .65em;
  height: .6em;
  background-color: hsl(var(--accent));
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkbox:checked::after {
  border-radius: .05em;
}

.radio:checked::after {
  border-radius: 50%;
}

.base:disabled,
.base:checked:disabled,
.base:disabled:focus {
  opacity: 0.5;
  cursor: initial;
  outline: none;
}

.base:focus-visible {
  box-shadow: var(--tw-ring-offset-shadow), var(--ring-1);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  line-height: 2em;
  cursor: pointer;
  gap: .25em;
}