.base {
  color: hsl(var(--foreground));
  background-color: hsl(var(--input) / 0.8);
  height: auto;

  border-width: 1px;
  border-style: solid;
  border-color: hsl(var(--border));
  border-radius: var(--radius-sm);

  padding: 0.2rem 0.4rem;
  width: 100%;
}