.grid {
  display: grid;
  grid-template-columns: minmax(20dvw, 35dvw) 1fr;
  flex-direction: row;
  justify-content: space-between;
  gap: 2.5rem;
}

.title {
  margin-top: 0;
  font-size: var(--text-xl);
}

.preview {
  width: 100%;
}

.preview img {
  display: block;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.gallery img {
  width: 100%;
  cursor: pointer;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.price {
  font-size: var(--text-2xl);
  font-weight: 700;
}

.add-to-cart,
.price,
.quantity,
.description {
  margin-top: 1.5rem;
}

.quantity label {
  margin-right: 0.5rem;
}

.quantity input {
  max-width: 7.5rem;
}

.tags {
  list-style: none;
}

.navigation {
  margin-bottom: 1rem;
}



/* next implementation */

.product-footer {
  margin-top: 2rem;
}

.product-footer-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product-footer-items .product-footer-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 120px;

}

.product-footer-payment-options .product-footer-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-footer-payment-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  max-width: 40%;
}

.product-footer-payment-options img {
  width: 50px;
  height: 26px;
  margin: 0px 5px 5px 0px;
}