.card {
  color: currentColor;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}

.card>div:last-child {
  margin-top: auto;
}

.header {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  padding-inline: 1rem;
}

.title {
  margin: 0;
  letter-spacing: -.025em;
  line-height: 1;
  font-weight: 700;
  font-size: var(--text-lg);
}

.description {
  font-size: var(--text-sm);
  color: hsl(var(--muted-foreground));
  line-height: 1.25rem;
  margin-top: 0;
}

.content {
  padding: 1rem;
}

.image {
  width: 100%;
}

.image-cover {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-position: center;
  background-size: cover;
  border-radius: 0.25rem;
}

.footer {
  display: flex;
  padding-inline: 1rem;
  padding-bottom: 1rem;
  padding-top: 0;
  align-items: center;
}

.padding {
  padding: 0.5rem;
}

.shadow {
  box-shadow: var(--shadow-sm);
}

.background {
  background-color: hsl(var(--card));
}

.border {
  border-color: hsl(var(--border) / 0.5);
}

.rounded {
  border-radius: 0.5rem;
}