a.button {
    text-decoration: none;
}

.button,
button {
    background-color: var(--button-bg);
    color: var(--button-color);
    border-radius: calc(var(--border-radius) / 2);
    padding: var(--unit) calc(var(--unit) * 2);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: 0px 3px 1px -2px #00000014;
}

.button:hover:not(:disabled),
button:hover:not(:disabled),
.button:focus:not(:disabled),
.button:focus-within:not(:disabled) {
    background-color: var(--button-bg-hover);
    color: var(--button-color-hover);
    cursor: pointer;
}

.button:active:not(:disabled),
button:active:not(:disabled) {
    background-color: var(--button-bg-active);
    color: var(--button-color-active);
    box-shadow: inset 1px 1px 2px #333;
}

.button:disabled,
button:disabled {
    background-color: var(--button-bg);
    color: var(--button-bg-disabled);
    cursor: not-allowed;
}

button:focus:not(:disabled),
.button:focus:not(:disabled) {
    box-shadow: var(--shadow-primary);
}

/**
    Buttons Styles
*/
button.primary:not(:disabled),
.button.primary:not(:disabled) {
    background: var(--button-bg-primary);
    color: var(--button-color-primary);
}

button.secondary:not(:disabled),
.button.secondary:not(:disabled) {
    background: var(--button-bg-secondary);
    color: var(--button-color-secondary);
}

button.secondary:hover:not(:disabled),
.button.secondary:hover:not(:disabled) {
    color: var(--button-color-primary-hover);
    background-color: var(--button-bg-primary-hover);
}

button.outline:not(:disabled),
.button.outline:not(:disabled),
button.primary.outline:not(:disabled),
.button.primary.outline:not(:disabled),
button.secondary.outline:not(:disabled),
.button.secondary.outline:not(:disabled) {
    border: 1px solid var(--button-bg);
    background: transparent;
}

button.outline:hover:not(:disabled),
.button.outline:hover:not(:disabled),
.button:focus-within:not(:disabled) {
    color: var(--button-color-hover);
}

button.primary.outline:not(:disabled),
.button.primary.outline:not(:disabled) {
    color: var(--button-bg-primary);
}

button.secondary.outline:not(:disabled),
.button.secondary.outline:not(:disabled) {
    color: var(--button-bg-secondary);
}

button.primary:hover:not(:disabled),
.button.primary:hover:not(:disabled),
button.secondary:hover:not(:disabled),
.button.secondary:hover:not(:disabled),
button.outline:hover:not(:disabled),
.button.outline:hover:not(:disabled),
button:focus:not(:disabled) {
    background-color: var(--button-bg-hover);
    color: var(--button-color-hover);
}

.button:focus-within:not(:disabled),
.button.secondary:focus-within:not(:disabled) {
    background-color: var(--button-bg-secondary-hover);
    color: var(--button-color-primary-hover);
}

.button.danger,
.button.danger {
    background-color: var(--color-danger);
}