label[for] {
    cursor: pointer;
}

.input,
input,
textarea,
select {
    color: var(--input-color);
    background-color: var(--input-bg);
    border: 1px solid var(--input-border);
    transition: all 0.05s ease-in-out;
    will-change: border-color;
    padding: calc(var(--unit) / 2) var(--unit);
    box-sizing: border-box;
    display: inline-block;
}

.input:hover,
input:hover,
textarea:hover,
select:hover {
    background-color: var(--input-bg-hover);
}

.input:focus,
input:focus,
textarea:focus,
select:focus {
    background-color: var(--input-bg-focus);
}

.input,
input[type="text"],
input[type="email"],
input[type="number"],
input[type="checkbox"],
input[type="radio"],
textarea,
select {
    color: var(--input-color);
}

.input,
input:not([type="submit"]),
textarea {
    box-shadow: var(--input-shadow);
}

.input:disabled,
input:disabled:not([type="submit"]),
textarea:disabled {
    box-shadow: var(--input-shadow-disabled);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    background-color: var(--paper-bg) !important;
    color: var(--body-text) !important;
}

input[type="checkbox"],
input[type="radio"] {
    cursor: pointer;
    appearance: none;
    width: calc(var(--unit) * 2);
    height: calc(var(--unit) * 2);
    border-radius: var(--border-radius-sm);
    transition: all 0.05s ease-in-out;
    will-change: border-color;
    padding: var(--unit);
}

input[type="radio"] {
    border-radius: 50%;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
    border-color: var(--input-bg-checked);
}

input[type="checkbox"]:checked::after,
input[type="radio"]:checked::after {
    content: "";
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    background-color: var(--input-bg-checked);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="checkbox"]:checked::after {
    border-radius: 20%;
}

input[type="radio"]:checked::after {
    border-radius: 50%;
}

input[type="checkbox"]:disabled,
input[type="radio"]:disabled {
    background-color: var(--input-bg-disabled);
    color: var(--input-color-disabled);
    border-color: var(--input-border-disabled);
}

input[type="checkbox"]:checked:disabled,
input[type="checkbox"]:disabled,
input[type="radio"]:checked:disabled,
input[type="radio"]:disabled {
    cursor: not-allowed;
}

input[type="checkbox"]:disabled:focus,
input[type="radio"]:disabled:focus {
    outline: none;
}

select {
    appearance: none;
    background-image: url('/svg/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: 98% center;
    background-size: 1.5rem;
    padding-right: calc(var(--unit) * 3);
}

.input:focus,
.input:focus-within,
input:focus,
textarea:focus,
select:focus,
input[type="checkbox"]:hover,
input[type="radio"]:hover {
    outline: 2px solid var(--input-outline-color);
}

input:disabled,
textarea:disabled,
select:disabled {
    background-color: var(--input-bg-disabled);
    color: var(--input-color-disabled);
    border-color: var(--input-border-disabled);
    cursor: not-allowed;
}

input:disabled:focus,
textarea:disabled:focus,
select:disabled:focus {
    outline: none;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
    color: var(--input-color-placeholder);
}

input:disabled::placeholder,
textarea:disabled::placeholder,
select:disabled::placeholder {
    color: var(--input-bg-disabled);
}

input[type="submit"] {
    border: none;
    cursor: pointer;
    background-color: var(--button-bg);
    color: var(--button-color);
}

input[type="submit"]:hover {
    background-color: var(--button-bg-hover);
    color: var(--button-color-hover);
}

input[type="submit"]:disabled {
    background-color: var(--button-bg-disabled);
    color: var(--button-color-disabled);
    cursor: not-allowed;
}

input[type="submit"]:disabled:hover {
    background-color: var(--button-bg);
}

input[type="submit"]:disabled:focus {
    outline: none;
}

fieldset {
    border: 1px solid var(--medium-contrast)
}

fieldset label:has(input) {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

textarea {
    min-height: 4rem;
}

/* Custom styles */
input.error {
    border-color: var(--color-danger);
}

input[type=file]::file-selector-button {
    padding: .8rem 2rem;
    background-color: var(--button-bg);
    color: var(--button-color);
    fill: var(--button-color);
    padding: .4em .4em;
    border-radius: .2em;
    transition: 0.5s;
}

input[type=file]::file-selector-button:hover {
    background-color: var(--button-bg-hover);
    color: var(--button-color-hover);
    fill: var(--button-color-hover);
}