.input,
input,
textarea,
select {
    color: var(--input-color);
    background-color: var(--input-bg);
    border: 1px solid var(--border-color);
    transition: all 0.05s ease-in-out;
    will-change: border-color;
    padding: calc(var(--unit) / 2) var(--unit);
    box-sizing: border-box;
    display: inline-block;
}

.input:hover,
input:hover,
textarea:hover,
select:hover {
    background-color: var(--input-bg-hover);
}

.input:focus,
input:focus,
textarea:focus,
select:focus {
    background-color: var(--input-bg-focus);
}

.input,
input[type="text"],
input[type="email"],
input[type="number"],
input[type="checkbox"],
input[type="radio"],
textarea,
select {
    color: var(--body-text);
}

.input,
input:not([type="submit"]),
textarea {
    box-shadow: var(--input-shadow);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    background-color: var(--paper-bg) !important;
    color: var(--body-text) !important;
}

input[type="checkbox"],
input[type="radio"] {
    appearance: none;
    background-color: var(--paper-bg);
    border: 1px solid var(--border-color);
    width: calc(var(--unit) * 2);
    height: calc(var(--unit) * 2);
    border-radius: var(--border-radius-sm);
    transition: all 0.05s ease-in-out;
    will-change: border-color;
    padding: var(--unit);
}

input[type="radio"] {
    appearance: none;
    background-image: url('/svg/radio.svg');
    background-repeat: no-repeat;
    background-position: 98% center;
}

input[type="radio"] {
    border-radius: 50%;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
    background-color: var(--accent-bg);
    border-color: var(--accent-bg);
}

input[type="checkbox"]:checked::after,
input[type="radio"]:checked::after {
    content: "";
    display: block;
    width: calc(var(--unit) / 2);
    height: calc(var(--unit) / 2);
    background-color: var(--brand-color3);
    position: relative;
    top: calc(var(--unit) / 4);
    left: calc(var(--unit) / 4);
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
    outline: none;
    border-color: var(--accent-bg);
}

input[type="checkbox"]:disabled,
input[type="radio"]:disabled {
    background-color: var(--input-bg-disabled);
    color: var(--input-color-disabled);
    border-color: var(--input-border-disabled);
}

input[type="checkbox"]:checked:disabled,
input[type="checkbox"]:disabled,
input[type="radio"]:checked:disabled,
input[type="radio"]:disabled {
    cursor: not-allowed;
}

input[type="checkbox"]:disabled:focus,
input[type="radio"]:disabled:focus {
    outline: none;
}

select {
    appearance: none;
    background-image: url('/svg/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: 98% center;
    background-size: calc(var(--unit) * 2) calc(var(--unit) * 2);
    padding-right: calc(var(--unit) * 3);
}

.input:focus,
.input:focus-within,
input:focus,
textarea:focus,
select:focus,
input[type="checkbox"]:hover,
input[type="radio"]:hover {
    outline: 2px solid var(--accent-bg);
    /* border-color: var(--input-border-focus); */
    /* box-shadow: var(--input-shadow-focus); */
}

input:disabled,
textarea:disabled,
select:disabled {
    background-color: var(--input-bg-disabled);
    color: var(--input-color-disabled);
    border-color: var(--input-border-disabled);
    cursor: not-allowed;
}

input:disabled:focus,
textarea:disabled:focus,
select:disabled:focus {
    outline: none;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
    color: var(--input-color-placeholder);
}

input[type="checkbox"] {
    cursor: pointer;
}

input[type="submit"] {
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--accent-bg-hover);
}

input[type="submit"]:disabled {
    background-color: var(--button-bg);
    color: var(--button-color-hover);
    cursor: not-allowed;
}

input[type="submit"]:disabled:hover {
    background-color: var(--button-bg);
}

input[type="submit"]:disabled:focus {
    outline: none;
}