h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    line-height: 1.2;
}

body {
    margin: 0;
    padding: 0;
}

body,
p,
input,
select,
textarea {
    line-height: 1.65;
}

ul,
ol,
p {
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
}

nav a {
    transition: color 0.2s ease-in-out;
}

nav ul,
nav ol {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav ol li,
nav ul li {
    display: inline-block;
    list-style: none;
}

nav ol li a,
nav ul li a {
    text-decoration: none;
}

img {
    display: inline-block;
}

figure {
    margin-left: 0;
    margin-right: 0;
}

div,
span,
button {
    box-sizing: border-box;
}

button {
    cursor: pointer;
    border: none;
    cursor: pointer;
    transition: all 0.05s ease-in-out;
    will-change: background-color, color;
}

a:focus,
button:focus {
    outline: none;
}

pre {
    text-wrap: wrap;
}