/**
    Accessibility
*/

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.m-0 {
  margin: 0 !important;
}

.flex {
  display: flex;
}

/* TEXT */

.text-sm {
  font-size: 0.8rem;
}

.items-center {
  align-items: center;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

/* Cursor */

.cursor-pointer {
  cursor: pointer;
  user-select: none;
}

/* Rounded */
.rounded {
  border-radius: .25rem
}

.rounded-2xl {
  border-radius: 1rem
}

.rounded-3xl {
  border-radius: 1.5rem
}

.rounded-full {
  border-radius: 9999px
}

.rounded-lg {
  border-radius: .5rem
}

.rounded-md {
  border-radius: .375rem
}

.rounded-xl {
  border-radius: .75rem
}

.rounded-b {
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem
}

.rounded-l-lg {
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem
}

.rounded-t {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem
}

.rounded-t-2xl {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem
}

.rounded-t-md {
  border-top-right-radius: .375rem
}

.rounded-t-md,
.rounded-tl-md {
  border-top-left-radius: .375rem
}

.border-input {
  border-color: hsl(var(--border));
}

.text-button {
  color: hsl(var(--button-foreground));
}