a.button {
    text-decoration: none;
    display: inline-block;
    border-radius: 0.35rem;
    line-height: 1;
}

a.button:active:not(:disabled) {
    transform: scale(1.03);
}

a.button:focus-within {
    transform: scale(1.05);
}

.button {
    line-height: 1;
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    will-change: background-color;
    transition: 0.5s;
}

.button:active:not(:disabled),
.button:hover:not(:disabled) {
    cursor: pointer;
}

.button.solid:focus:not(:disabled),
.button.solid:focus-within:not(:disabled),
.button.solid:hover:not(:disabled) {
    background-color: var(--button-bg-hover);
    color: var(--button-color-hover);
    fill: var(--button-color-hover);
}

.button:focus-within {
    background-color: var(--button-bg-active);
    color: var(--button-color-active);
    fill: var(--button-color-active);
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active,
.button:disabled:focus-within {
    background-color: var(--button-bg-disabled);
    color: var(--button-color-disabled);
    fill: var(--button-color-disabled);
    border: 1px solid var(--button-bg-disabled)
}

.button:focus:not(:disabled) {
    outline: 2px solid var(--button-bg-active);
}

/**
    Button Color
*/

.solid.default {
    background-color: var(--button-bg);
    color: var(--button-color);
    fill: var(--button-color);
}

.solid.default:hover {
    background-color: var(--button-bg-hover);
    color: var(--button-color-hover);
    fill: var(--button-color-hover);
}

.solid.primary {
    background: var(--button-bg-primary);
    color: var(--button-color-primary);
    fill: var(--button-color-primary);
}

.solid.accent {
    background: var(--button-bg-accent);
    color: var(--button-color-accent);
    fill: var(--button-color-accent);
}

.solid.danger {
    background-color: var(--color-danger);
    color: var(--button-color-primary);
    fill: var(--button-color-primary);
}

.solid.success {
    background-color: var(--color-success);
}

.solid.warning {
    background-color: var(--color-warning);
}

/**
    Button Variants
*/

.outline {
    background: transparent;
    border-width: 1px;
    border-style: solid;
}

.outline.default:not(:disabled) {
    border-color: var(--button-bg);
    color: var(--button-bg);
    fill: var(--button-bg);
}

.button.outline:focus:not(:disabled),
.button.outline:focus-within:not(:disabled),
.button.outline:hover:not(:disabled) {
    border-color: var(--button-bg-hover);
    background-color: var(--button-bg-hover);
    color: var(--button-color-hover);
    fill: var(--button-color-hover);
}

.outline.primary:not(:disabled) {
    border-color: var(--button-bg-primary);
    color: var(--button-bg-primary);
    fill: var(--button-bg-primary);
}

.outline.accent:not(:disabled) {
    border-color: var(--button-bg-accent);
    color: var(--button-bg-accent);
    fill: var(--button-bg-accent);
}

.outline.danger:not(:disabled) {
    border-color: var(--color-danger);
    color: var(--color-danger);
    fill: var(--color-danger);
}

.outline.success:not(:disabled) {
    border-color: var(--color-success);
    color: var(--color-success);
    fill: var(--color-success);
}

.outline.warning:not(:disabled) {
    border-color: var(--color-warning);
    color: var(--color-warning);
    fill: var(--color-warning);
}

/**
    Button Sizes
*/

.sm {
    padding: calc(var(--unit) / 2) calc(var(--unit) * 1.5);
}

.md {
    padding: var(--unit) calc(var(--unit) * 2);
}

.lg {
    padding: calc(var(--unit) * 1.5) calc(var(--unit) * 3);
}


/* Icons */

.buttonIcon {
    display: flex;
    gap: 4px;
    align-items: center;
    flex-wrap: nowrap;
}

.buttonIcon .icon {
    position: relative;
    display: inline-block;
    padding: 2px;
}

.buttonIcon .icon svg {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.sm.buttonIcon .icon {
    padding: 1px;
    width: 16px;
    height: 16px;
}

.md.buttonIcon .icon {
    width: 24px;
    height: 24px;
}

.lg.buttonIcon .icon {
    width: 32px;
    height: 32px;
}