.previewList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.previewList input {
    transform: translateX(-100vw);
    position: absolute;
    left: -100vw;
}

.item {
    display: grid;
    grid-template-columns: minmax(96px, 120px) auto minmax(80px, 120px);
    align-items: center;
    border-top: 1px solid var(--border-color);
    position: relative;
    gap: 1.5rem;
}

.item:first-child {
    border-top: 0;
}

.itemFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--unit);
    padding: 2rem;
}

.badge {
    background: var(--badge-bg);
    color: var(--badge-color);
    border-radius: calc(var(--border-radius) * 4);
    border: 1px solid var(--badge-border-color);
    box-shadow: var(--shadow);
    padding: 2px var(--unit);
    margin-right: var(--unit);
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    max-width: 100%;
}

.image {
    width: 100%;
    height: auto;
}

.label {
    cursor: pointer;
    padding: 2rem 1rem;
    border: 1em dashed var(--input-border);
    color: var(--body-text);
    display: block;
    text-align: center;
    transition: background-color .1s ease-in-out;
    will-change: background-color;
}

.label:hover,
.label:focus-within {
    background-color: var(--input-bg-hover);
}

.label:focus,
.label:focus-within,
.label:focus-visible {
    outline: 2px solid var(--input-outline-color);
}