.title {
  line-height: 1.25;
  letter-spacing: -0.025em;
  margin-inline: auto;
  margin-block: 3.5rem;
  /* max-width: 48rem; */
  text-align: center;
}

.preview {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 60dvh;
  width: 100%;
  margin: 2rem auto;
  text-align: center;
}

.markdown {
  margin-inline: auto;
  color: hsl(var(--high-contrast));
}

.markdown>* {
  /* max-width: 60vw; */
  margin-block: 2rem;
  font-size: 1.1rem;
  line-height: 1.35;
}

.markdown>*:not(img),
.markdown figcaption {
  /* max-width: 45vw; */
}

@media screen and (width > 640px) {

  .markdown>*:not(img),
  .markdown figcaption {
    /* width: 60dvw; */
  }

  .markdown {
    /* max-width: 85dvw; */
  }
}

@media screen and (width > 780px) {

  .markdown>*:not(img),
  .markdown figcaption {
    /* width: 50dvw; */
  }
}

.markdown>*:not(img) {
  margin-block: 2rem;
}

.markdown>p {
  font-size: var(--text-md);
}

.markdown>ul {
  margin-left: 0;
  padding-left: 0;
}

.markdown img {
  width: 100%;
  display: block;
  object-fit: contain;
}

.markdown>figure {
  width: 100%;
}

.markdown figcaption {
  background-color: hsl(var(--card));
  padding: 0.5rem;
}

.markdown blockquote {
  margin-block: 2.5rem;
  padding: 2rem 1rem;
  border-radius: var(--radius);
  background-color: hsl(var(--card));
}

.markdown blockquote p {
  margin: 0;
}

.markdown h1 {
  font-size: var(--text-2xl);
  line-height: 2rem;
}

.markdown h2 {
  font-size: var(--text-xl);
  line-height: 1.75rem;
}

.markdown h3 {
  font-size: var(--text-lg);
  line-height: 1.75rem;
}

.markdown h4 {
  font-size: var(--text-md);
  line-height: 1.5rem;
}

.markdown h5 {
  font-size: var(--text-sm);
  line-height: 1.25rem;
}

.markdown h6 {
  font-size: var(--text-xs);
  line-height: 1.2rem;
}