.skeleton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(var(--low-contrast));
  color: hsl(var(--foreground));
  flex-shrink: 0;
}

.radius {
  border-radius: 0.5rem;
}

.circle {
  border-radius: 50%;
}