.card {
  background-color: hsl(var(--card));
  color: hsl(var(--card-foreground));
  border-width: 0;
  /* border-color: color-mix(in hsl, hsl(var(--border)), transparent 70%); */
  border-radius: var(--radius);
  box-shadow: 0 2px 4px hsla(var(--shadow-color));
}

.header {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  padding-inline: 1.5rem;
}

.title {
  margin: 0;
  letter-spacing: -.025em;
  line-height: 1.5;
  font-weight: 600;
  font-size: var(--text-base);
}

.description {
  font-size: .875rem;
  line-height: 1.25rem;
  color: hsl(var(--muted-foreground));
  /* "text-muted-foreground" */
}

.content {
  padding: 1.5rem;
}

.image {}

.image-cover {
  width: 100%;
  height: 100%;

  aspect-ratio: 1 / 1;
  background-position: center;
  background-size: cover;
}

.footer {
  display: flex;
  padding: 1.5rem;
  padding-top: 0;
  align-items: center;
}

.padding {
  padding: 0.5rem;
}