.base {
  width: 100%;
  min-height: 4rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.button-group {
  max-width: 70dvw;
  display: flex;
  background-color: hsl(var(--button));
}

.wrapper {
  max-width: 70dvw;
}