.previewList input {
    transform: translateX(-100vw);
    position: absolute;
    left: -100vw;
}

.label {
    cursor: pointer;
    text-align: center;
    background-color: hsl(var(--input) / 18%);
    border: 1px dashed hsl(var(--border));

    display: block;
    padding: 2rem 1rem;

    transition: background-color .1s ease-in-out;
    will-change: background-color;
}

.label:hover {
    background-color: color-mix(in hsl, hsl(var(--input)), hsl(var(--foreground)) 2%);
}

.label:focus,
.label:focus-within,
.label:focus-visible {
    outline: 2px solid hsl(var(--ring));
}

.smallText {
    font-size: var(--text-xs);
}