.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.center-text {
  text-align: center;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}