.link {
  color: hsl(var(--foreground));
  text-underline-offset: .2rem;
}

.link:hover {
  text-decoration: underline;
}

.link:focus-visible {
  outline: 4px solid hsl(var(--ring));
  outline-offset: 5px;
  /* outline: 0; */
  /* box-shadow: var(--tw-ring-shadow-4); */
}

.primary {
  color: hsl(var(--primary))
}