.dialog {
  min-height: 50vh;

  inset: 0;
  color: hsl(var(--foreground));

  width: 100dvw;
  height: 100dvh;
  position: fixed;
  padding: 0;
  margin: 0;
  animation: vanish 100ms;
  background-color: transparent;
  border: 0;
  z-index: 1;
}

.dialog[open] {
  animation: appear 100ms;
  /* animation: slideIn 250ms forwards; */
}

.content {
  padding: 0;
  background-color: hsl(var(--background));
  width: 80dvw;
  max-width: 500px;
  min-width: 250px;
  height: auto;
  min-height: 20dvh;
  max-height: 100dvh;
  overflow-y: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 200ms ease-in-out;
  box-shadow: var(--shadow-xl);
  border-radius: 0.65rem;
}

.dialog[open] .content {
  /* animation: slideIn 250ms forwards; */
  padding: 1rem;
}

dialog[open]::backdrop {
  background-color: hsl(var(--primary) / 0.5);
}

.backdrop {
  width: 100%;
  height: 100%;
}

@keyframes slideIn {
  from {
    transform: translate(-50%, -100dvh);
  }

  to {
    transform: translate(-50%, -50%);
  }
}

@keyframes slideOut {
  to {
    transform: translateY(-100dvw);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes vanish {
  from {
    display: block;
    opacity: 1;
  }

  to {
    display: none;
    opacity: 0;
  }
}