.masonry {
  --columns: 4;
  display: block;
  columns: var(--columns) auto;
  gap: 0.5em;
}

.masonry>* {
  margin-bottom: 0.5em;
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {}