.grid {
  display: grid;
  gap: 2vw;
}

@media screen and (min-width: 960px) {
  .two {
    grid-template-columns: 1fr 1fr;
  }

  .three {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .masonry {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }
}