.toggleWrapper {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 10px;
}

.toggle {
  --toggle-width: 4em;
  --thumb-width: 1em;
  width: var(--toggle-width);
  min-height: 2em;
  border-radius: 1em;
  position: relative;
  background-color: transparent;
  border-width: 1px;
  box-shadow: 0 0 0 1px hsl(var(--border));
  border-style: solid;
  border-color: hsl(var(--border));
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  display: block;
  padding-block: 0;
}

.toggle[data-state='checked'] {
  background-color: hsl(var(--button));
}

.thumb {
  display: block;
  width: var(--thumb-width);
  height: var(--thumb-width);
  background-color: hsl(var(--button-foreground) / 0.5);
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.toggle[data-state='checked'] .thumb {
  transform: translateX(calc(var(--thumb-width) * 2));
  background-color: hsl(var(--button-foreground));
}

.toggle:hover {
  background-color: hsl(var(--foreground) / 0.1);
}

.toggle[data-state='checked']:hover {
  background-color: color-mix(in hsl shorter hue, hsl(var(--button)), white 20%);
}

.toggle:focus-visible {
  outline: 2px solid hsl(var(--ring));
  outline-offset: 2px;
}

.label {
  color: currentColor;
  user-select: none;
}

.xs {
  font-size: 1em;
}

.sm {
  font-size: 1.25em;
}

.md {
  font-size: 1.5em;
}

.lg {
  font-size: 1.75em;
}