.skeleton {
  --skeleton-background-color: color-mix(in hsl, hsl(var(--card)), hsl(var(--card-foreground)) 2%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--skeleton-background-color);
  color: hsl(var(--foreground));
}

.radius {
  border-radius: 50%;
}

@media (prefers-color-scheme: dark) {
  .skeleton {
    --skeleton-background-color: hsl(254.12 40.48% 11.21%);
  }
}